OBJS
BUILD*
MHDRUN/
*~
*.mod
*.o
*.x
*.aux
*.log
*.bbl
*.fls
*.out
*.fdb_latexmk
*.pdf
*.blg
*.bcf
*.run.xml
*.toc
\#*\#
DOC/doxygen
__pycache__
.vscode
ProjectConfig.cmake.in
*.dat
*.msh
*.mesh
*.vtk
*.vtu
*Notes.bib
*.exo
*.ppm
*.ps
*.pvd
FEM/magdif.idp
