17151.aug_qq.ele
RZpsirho.dat
axis.x
bmod_psipol.dat
boundary.dat
boundary_qq.fmt
boundary_sqz.dat
fort.11
fort.110
fort.111
fort.113
fort.114
fort.120
fort.211
fort.212
fort.333
index_core.pnt
index_pfr.pnt
index_sol.pnt
inputformaxwell.msh
inputformaxwell_ext.msh
mesh_all.dat
mesh_all_sqz.dat
neighbour.fmt
points.dat
points.fmt
points_asc.dat
points_asc_sqz.dat
points_m.fmt
readcarre_m.x
source.dat
thermostat.dat
tri_mesh.x
triangles.dat
triangles.fmt
wall_loads.dat
writeout.x
wsrr_rec_fix.dat
BR_im.dat
BR_re.dat
BZ_im.dat
BZ_re.dat
Opoint.dat
VACFIELD/Bn_flux.dat.avg
VACFIELD/hpsi_vac.dat.avg
VACFIELD/hpsi_vac_fem.dat
VACFIELD/hpsi_vac_flux.dat
bmod_psipol_vac.dat
hpsi_vac.dat
